<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.BYDAUTO_SPEED_COMMON"/>
    <uses-permission android:name="android.permission.BYDAUTO_SPEED_GET"/>
    <uses-permission android:name="android.permission.BYDAUTO_GEARBOX_COMMON"/>
    <uses-permission android:name="android.permission.BYDAUTO_GEARBOX_GET"/>
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_COMMON"/>
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_GET"/>
    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.BYDLauncher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name="com.xstudio.bydlauncher.main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.mainapp"/>
        <activity android:name=".ui.splash"/>
    </application>
</manifest>